@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

html {
    font: 20px/1.5 "Karla", sans-serif;
    text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1, h2, h3 {
    color: #1C1D38;
    font-weight: initial;
}

h1 {
    font-size: 2rem;
}

label {
    margin-bottom: 20px;
    display: block;
}

.container {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  min-height: 4rem;
}

.error {
  margin: 1rem;
  padding: 2rem;
  background-color: rgba(255, 20, 83, 0.1);
  font-weight: bold;
}

.error pre {
  font-style: italic;
}

.bold {
    font-weight: bold;
}

.field {
    display: inline-block;
    position: relative;
    width: 13rem;
}

select {
    text-size-adjust: 100%;
    appearance: none;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    display: block;
    font-family: inherit;
    font-size: 100%;
    height: 2rem;
    text-size-adjust: 100%;
    width: 100%;
}

.select-chart {
  padding: 1rem;
  width: 30%;
  margin: 0 auto;
}

.chevron-wrapper {
    align-items: center;
    bottom: 0;
    color: rgba(74, 85, 104, 1);
    padding-left: .5rem;
    padding-right: .5rem;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.chevron {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
}

.grid {
    display: grid;
    grid-template-areas:
        "aside main";
    grid-template-columns: auto 1fr;
    grid-column-gap: 4rem;
}

.aside {
    grid-area: aside;
    padding: 1rem;
}

.main {
    grid-area: main;
    min-height: 900px;
}

.summary {
    margin-bottom: 50px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.card {
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    margin-right: 30px;
    padding-left: 15px;
    width: 270px;
}

.bg-indigo {
    background-color: #7f9cf5;
}

.bg-blue {
    background-color: #63b3ed;
}

.shadow {
    box-shadow: 0 10px 15px -3px;
}

.loader {
  width: 48px;
  height: 6px;
  display: block;
  margin: auto;
  position: relative;
  border-radius: 4px;
  color: skyblue;
  box-sizing: border-box;
  animation: animloader 0.6s linear infinite;
}

@keyframes animloader {
  0% { box-shadow: -10px 20px, 10px 35px , 0px 50px }
  25% { box-shadow: 0px 20px ,  0px 35px, 10px 50px }
  50% { box-shadow: 10px 20px, -10px 35px, 0px 50px }
  75% { box-shadow: 0px 20px, 0px  35px, -10px 50px }
  100% { box-shadow: -10px 20px, 10px  35px, 0px 50px}
}
